name: "My Python Add-on"
description: "A Python-based Home Assistant add-on"
version: "0.1.0"
slug: "my_python_addon"
init: false
arch:
  - aarch64
  - amd64
  - armv7
  - armhf
  - i386
startup: services
boot: auto
map:
  - share:rw
options:
  log_level: "info"
schema:
  log_level: "list(trace|debug|info|warning|error|fatal)?"
image: "ghcr.io/{arch}-addon-my-addon"
